<div class="clearfix"></div>
<div class="footer">
  <br/>
  <hr size="1" />
  <br/>
  <div class="col-3">
    <strong>MRW.lol</strong>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About this site</a></li>
      <li><a href="http://github.com/shorttompkins/mrw.lol">Sourcecode on GitHub</a></li>
    </ul>
  </div>
  <div class="col-3">
    <strong>Author</strong>
    <ul>
      <li>Jason Krol</li>
      <li><a href="http://twitter.com/shorttompkins">@ShortTompkins</a></li>
      <li><a href="http://kroltech.com">KrolTech.com</a></li>
    </ul>
  </div>
</div>
