#app {
  width: 1000px; margin: auto auto;
}

.input {
  padding: .5em;
  border: solid 1px #c0c0c0;
  border-radius: 6px;
  font-size: 1em;
  outline: none;
}

.button {
  padding: .5em;
  border: solid 1px #c0c0c0;
  border-radius: 6px;
  font-size: 1em;
}
