.image-full {
  width: 50%;
}

.tag-link {
  display: inline-block;
  background-color: #33C133;
  padding: 2px 6px;
  margin: 2px;
  border-radius: 4px;
  color: #fff;
  font-size: .8em;
  font-weight: bold;
  &.user-tag {
    background-color: #808080;
  }
}
