body { font-family: Helvetica, Arial, sans-serif; font-size: 1em; }

a { text-decoration: none; color: #404040; }

.float-right { float: right; }

.page-header {
  position: relative;
  height: 80px;
  border-bottom: solid 1px #c0c0c0;
  margin-bottom: 20px;
  h1 {
    position: absolute;
    left: 0px;
    font-size: 3em;
    width: 230px;
    padding: 0px;
    margin: 0px;
    bottom: 10px;
  }
  .main-search {
    position: absolute;
    bottom: 20px;
    left: 250px;
    width: 600px;
    .input-group {
      width: 600px;
      .input {
        width: 400px;
        border-right: none;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .button {
        display: inline-block;
        width: 40px;
        outline: none;
        background-color: #fff;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
  .login-links {
    position: absolute;
    bottom: 30px;
    right: 0px;
    width: 150px;
  }
}

.body {
  clear: both;
}

.comments {
  .comment {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #c0c0c0;
    border-radius: 4px;
    .byline {
      font-size: .85em;
      margin-bottom: 10px;
      padding-bottom: 5px;
      height: 30px;
      border-left: solid 3px #d0d0d0;
      padding-left: 5px;
      img.avatar {
        float: left;
        width: 35px;
        height: 35px;
        padding-right: 5px;
      }
    }
  }
}
