<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>My Reaction When...</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    {{#if image}}
    <meta property="og:image" content="{{image.web_url}}" />
    {{/if}}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg=="
          crossorigin="anonymous">
    <link href="/public/mrw/main.css" rel='stylesheet' type='text/css' />
    <link href="/public/css/main.css" rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id="app"></div>
    {{> footer }}
    <script type="text/javascript">
    {{#if loggedin}}
    window.userid = '{{loggedin}}';
    {{/if}}
    </script>
    <script type="text/javascript" src="/public/mrw/app.js"></script>
  </body>
</html>
