
.footer {
  width: 1000px;
  margin: auto auto;
  color: #888888;
}

.footer a {
  color: #888888;
}

.col-3 {
  width: 30%;
  margin-right: 5%;
  float: left;
}
.col-3:last-child {
  margin-right: 0;
}
